@charset "UTF-8";

#container {
   width: 100%;
   margin: 0 auto;
}

#contents {
   max-width: 1240px;
   min-width: 1240px;
   width: 100%;
   margin: -53px auto;
   min-height: 800px;
}

#section2 {
   display: flex;
   justify-content: space-between;
   align-items: center;
   color: black;
}
#section1 {
	font-size:13px;
	text-align:center;
}

<!-- 좌측 메뉴 시작 -->
.product_menu li a {
	
}
#left {
   width: 20%;
   margin-top: 80px;
   height: 10%;
   border-radius: 10px;
   margin-right: 10px;
}

.left_inside {
   background: whitesmoke;
   margin: 0 0 0 0;
   border-radius: 10px;
   padding: 10px 10px 10px 10px;
   box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.1);
   text-align-last: center;
}

.menubarLeft {
   margin-left: -40px;
}

.menubarLeft li {
   list-style: none;
   align: center;

}

.menubarLeft li a {
	font-size:13px;
	color: black;
	text-decoration: none;
	margin-left: -40px;
}

.menubarLeft .nb:hover {
t	ext-decoration : underline;
}

/* 우측 내용 시작 */ 
#right {
  width: 88%;
}

.table_div {
   margin-top: 50px;
}

.table_div table {
   border-collapse: collapse;
}

.table_div table th, td {
   height: 50px;
   border: 1px solid black;
   padding-left:10px;
}

.table_div table th {
   background: #FDE3E9;
}

.inputButton {
   background-color: dark-yellow;
   font-size: 16px;
   padding: 10px 15px 10px 15px;
}

input {
   padding: 2px 2px;
}

.input {
   width: 675px;
   height: 40px;
   border: 1px solid gray;
   box-sizing: border-box;   
   padding: 0 0 0 10px;
}






